.calComponentHeader {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 110%;
  font-weight: 650;
  color: rgba(50, 50, 50, 0.900);
}

.layout {
  position: relative;
  left: 7%;
}